*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body
{
    background-color: black;
}
video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
::-webkit-scrollbar
{
    display: none;
}
.video_section
{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}
.navbar
{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 9;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 4px;
    backdrop-filter: blur(20px);
    transition: 0.3s;
    border-bottom: 1px solid white;
}
.con1,img
{
    margin-right: 20px;
    margin-left: 20px;
}
.navbar ul p a
{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.1s;
}
a:hover
{
    border-bottom: 2px solid white;
    border-radius: 1px;
}
.navbar h2
{
    position: relative;
}
.con1{
    display: flex;
    column-gap: 40px;
}
.contact_section
{
    display: flex;
    position: relative;
    z-index: 6;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 900px;
    margin-bottom: 40px;
    column-gap: 100px;
}
.detail1
{
    width: 500px;
    padding: 35px;
    position: relative;
    left: 0px;
    top: 10px;
    backdrop-filter: blur(20px) !important;
    transition: 0.3s;
    border-radius: 20px;
    border: 2px solid white;
    z-index: 4;
    overflow: hidden;
    transform: scale(0.8);
}
.detail1 h1
{
    text-align: center;
}
.detail2
{
    position: relative;
    z-index: 5;
    top: 10px;
}
.pfp
{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    clip-path: circle(37.4% at 49% 52%);
    border: 1px solid silver;
    filter: brightness(80%);
    transform: scale(0.7);
}
.detail1 p{
    font-weight: 600;
}
#eye
{
    animation: spin 1.5s linear infinite ;
    transition: 0.3s;
}
@keyframes spin {
    from
    {
        transform: rotateZ(180deg);
    }
    to
    {
        transform: rotateZ(-180deg);
    }
}
.overlay
{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.autoblur
{
    animation: autobluranimation linear both;
    animation-timeline: view();
}
@keyframes autobluranimation
{
    0%
    {
        filter: blur(40px);
    }
    40%,60%
    {
        filter: blur(0);
        transform: translateY(0);
        opacity: 1;
        
    }
    100%
    {
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}
.about_section
{
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 300px;
}
.skil
{
    display: flex;
    width: auto;
    height: 900px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.about_section h2
{
    text-align: center;
    
}
.about_section h1
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0px 0px 15px rgba(245, 245, 245, 0.778);
}
.skill1,.skill2,.skill3,.skill4,.skill5,.skill6
{
    padding: 20px;
    width: 250px;
    height: 200px;
    text-align: center;
    flex-basis: 30%;
    box-shadow: 0px 0px 15px rgba(245, 245, 245, 0.350);
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    transition: 0.3s ease-in-out;
}
.detail1 button a 
{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border: none;
    margin-left: 10px;
}
.skill1:hover
{
    box-shadow: 0px 0px 15px rgb(245, 245, 245);
    opacity: 0.7 !important;
}
.skill2:hover
{
    box-shadow: 0px 0px 15px rgb(245, 245, 245);
    opacity: 0.7 !important;
}
.skill3:hover
{
    box-shadow: 0px 0px 15px rgb(245, 245, 245);
    opacity: 0.7 !important;
}
.skill4:hover
{
    box-shadow: 0px 0px 15px rgb(245, 245, 245);
    opacity: 0.7 !important;
}
.skill5:hover
{
    box-shadow: 0px 0px 15px rgb(245, 245, 245);
    opacity: 0.7 !important;
}
.skill6:hover
{
    box-shadow: 0px 0px 15px rgb(245, 245, 245);
    opacity: 0.7 !important;
}
.about_section img
{
    margin-top: 12px;
}
#btn1
{
    padding: 8px 10px;
    background-color: rgb(207, 42, 21);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}
.form_section
{
    display: flex;
    width: 100%;
    height: 400px;
    z-index: 3;
    position: relative;
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: center;
}
.form_section h1
{
    border-bottom: 2px solid whitesmoke;
}
.form_section input
{
    width: 45vw;
    height: 4vw;
    background: none;
    backdrop-filter: blur(15px);
    text-align: center;
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    transition: 0.3s;
    box-shadow: 0px 0px 8px rgba(245, 245, 245, 0.381);
}
.form_section button
{
    padding: 10px 25px;
    color: white;
    background-color: rgb(207, 42, 21);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;;
}
.gen 
{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}
#isee
{
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    transform: scale(0);
    position: absolute;
}
.final
{
    color: rgb(255, 255, 255);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}
.footer
{
    width: 100%;
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    gap: 30px;
}
.footer img
{
    width: 15px;
    height: 15px;
    margin-right: 0px;
    margin-left: 0px;
}
.finall
{
    border: none;
    border-radius: 50%;
    background-color:silver;
    text-align: center;
    padding: 4px 10px;
}
.finall a 
{
    text-align: center;
    border: none;
}
.linked,.instagram,.whatapp
{
    margin-top: 6px;
}
.eyes_background
{
    position: absolute;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.eyes_background img 
{
    width: 500px;
    height: auto;
    animation: spin 2.5s linear infinite reverse;
}
.eyes_background img::before
{
    z-index: -1;
    filter: blur(30px);
    transform: scale(2);
}
.useless
{
    display: none;
    cursor: pointer;
}
.side_navbar
{
    width: 40%;
    position: fixed;
    z-index: 15;
    background: transparent;
    backdrop-filter: blur(30px);
    height: 100%;
    padding: 20px;
    transition: 0.6s ease-in-out;
    column-gap: 30px;
    left: -60%;
}
.side_navbar ul 
{
    margin-top: 15px;
}
.side_navbar ul li a 
{
    text-align: right;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.side_navbar ul li 
{
    padding: 10px;
    text-decoration: none;
    list-style: none;
}
.closebtn
{
    color: white;
    text-align: right;
}
.side_navbar ul li a:hover
{
    border: none;
}
.side_navbar h3
{
    cursor: pointer;
}
.footer div 
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
@media screen and (max-width:700px) 
{
    .navbar ul 
    {
        display: none;
    }
    .useless
    {
        display: block;
    }
    .navbar h2 
    {
        font-size: 10px;
    }
    .navbar
    {
        padding: 5px;
        justify-content: space-around;
        height: 45px;
    }
    #eye
    {
        width: 18px;
        height: 18px;
    }
    .video_section
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        right: 0px;
        top: 0px;
        overflow: hidden;
    }
    .detail1
    {
        transform: scale(0.5);
        top: -50px;
        padding: 20px;
        z-index: 3;
        overflow-y: scroll;
    }
    .detail2
    {
        overflow: hidden;
    }
    .about_section
    {
        margin-top: 150px;
        margin-bottom: 50px;
    }
    .eyes_background
    {
        transform: scale(0.55);
    }
    .skil img 
    {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        text-align: center;
        align-items: center;
    }
    .skill1,.skill2,.skill3,.skill4,.skill5,.skill6
    {
        flex-basis: 60%;
        margin-top: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .form_section
    {
        margin-top: 400px;
    }
    .form_section input 
    {
        width: 90vw;
        height: 5vh;
    }
    .form_section button 
    {
        padding: 7px 20px;
    }
    #isee
    {
        transform: scale(0.1);
    }
    .footer
    {
        text-align: left;
        gap: 0px;
        flex-direction: column;
    }
    .footer div 
    {
        display: flex;
    }
    .contact_section
    {
        flex-direction: column-reverse;
        height: 700px;
    }
    .con1
    {
        justify-content: flex-start;
        column-gap: 0;
        align-items: flex-start;
        margin-right: 60px;
        text-align: center;
    }
    .con1,img 
    {
        margin-left: 0;
    }
    .con1 img 
    {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }
    .con1 h2 
    {
        text-align: center;
        margin-top: 3px;
    } 
    .side_navbar
    {
        box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.437);
    }
    .gen
    {
        margin-top: 400px;
        width: 340px;
    }
    .final
    {
        font-size: 15px;
        margin-top: 75px;
    }
}
@media screen and (min-width:1900px)
{
    .detail1
    {
        top: 150px;
    }
    .detail2
    {
        top: 140px;
    }
    .about_section
    {
        margin-top: 400px;
    }
} 
